name: Docker Image CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Build and push
        run: |
          docker build -t ttl.sh/${{ github.sha }}:1h .
          docker push ttl.sh/${{ github.sha }}:1h                    
